.filter-green {
    filter: invert(59%) sepia(9%) saturate(2616%) hue-rotate(155deg) brightness(85%) contrast(84%);
}

#contact img:hover {
    filter: invert(59%) sepia(9%) saturate(2616%) hue-rotate(155deg) brightness(85%) contrast(20%);
}

.contact-item{ 
    height: 150px;
}

@media screen and (max-width: 700px) {
    #contact .flexbox {
        display: block;
    }
}